@using TreeManager.Domain.Entities
@model Dictionary<Node, bool>

@{
    ViewBag.Title = "Tree";
}
<div>
    @ViewBag.Error
</div>

<div class="spacefier">
    <ul class="no-bullets">
        @foreach (var n in Model)
        {
            if (n.Key.Parent == null)
            {
                <!--wywolaj helper dla korzeni drzewa-->
                @RecursiveTreeGenerator(n.Key, n.Value)
            }
        }

        <!--przycisk do tworzenia korzeni drzewa-->
        <li class="no-bullets">
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Add root"
                    onclick="location.href='@Url.Action("AddNode", "Admin")'">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </li>
    </ul>

</div>

@helper RecursiveTreeGenerator(Node currentNode, bool isExpanded)
{
    <!--zbuduj wezel-->
    <li class="no-bullets">
        <div class="node">

            <!--zmien przyciski i akcje w zaleznosci od tego, czy jest rozwiniety-->
            @if (!isExpanded)
            {
                <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" title="Expand node"
                        onclick="location.href='@Url.Action("ExpandNode", "Tree", new { id = currentNode.NodeID })'">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            }
            else
            {
                <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" title="Collapse node"
                        onclick="location.href='@Url.Action("CollapseNode", "Tree", new { id = currentNode.NodeID })'">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
            }

            <span class="node-title"><b>@currentNode.Title</b></span>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-link btn-xs" data-node-id="" data-toggle="tooltip" title="Delete node">
                    <span data-toggle="modal" data-target="#deleteModal-@currentNode.NodeID" class="glyphicon glyphicon-minus"></span>
                </button>

                <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" title="Edit node"
                        onclick="location.href='@Url.Action("EditNode", "Admin", new { id = currentNode.NodeID })'">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

                <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" title="Add node"
                        onclick="location.href='@Url.Action("AddNode", "Admin", new { id = currentNode.NodeID })'">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <br />
            <hr style="border-color:gray; margin:5px;" />
            <p class="node-description">@currentNode.Description</p>
        </div>
    </li>

    <!--zbuduj dzieci-->
    if (currentNode.ChildNodes != null && isExpanded)
    {
        <ul class="no-bullets">
            @foreach (var c in currentNode.ChildNodes)
            {
                @RecursiveTreeGenerator(c, Model[c])
            }
        </ul>
    }

    <!--modal do usuwania-->
    <div class="modal fade" id="deleteModal-@currentNode.NodeID" role="dialog">
        <div class="modal-dialog">

            <!--zawartosc modala-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete node</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to delete a node. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            onclick="location.href='@Url.Action("DeleteNode", "Admin", new { id = currentNode.NodeID })'">
                        Yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}


